body{
    background:#2a2c28;
}

.titulo{
    color:azure;
}
.boton{
    background: #9dbacc;
    border-radius: 5px;
}
input{
   margin-left: 20px;
}
.texto1,.label1, .label2{
    color: white;
}

.codtext,.covertach{
    background: #70aad0;
}